[access]
	inheritFrom = All-Projects
[project]
	description = Personal Website of Johannes Vollmer
[access "refs/*"]
	owner = group user/Johannes Vollmer (sh4rkfx)
[access "refs/for/refs/*"]
	read = group user/Johannes Vollmer (sh4rkfx)
	push = group user/Johannes Vollmer (sh4rkfx)
	label-Code-Review = -2..+2 group user/Johannes Vollmer (sh4rkfx)
	label-Verified = -1..+1 group user/Johannes Vollmer (sh4rkfx)
	rebase = group user/Johannes Vollmer (sh4rkfx)
	removeReviewer = group user/Johannes Vollmer (sh4rkfx)
	submit = group user/Johannes Vollmer (sh4rkfx)
[access "refs/heads/*"]
	read = group user/Johannes Vollmer (sh4rkfx)
	create = group user/Johannes Vollmer (sh4rkfx)
	push = +force group user/Johannes Vollmer (sh4rkfx)
	pushMerge = group user/Johannes Vollmer (sh4rkfx)
[access "refs/tags/*"]
	push = group user/Johannes Vollmer (sh4rkfx)
	push = +force group user/Johannes Vollmer (sh4rkfx)
